<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posture Detection</title>
</head>
<body>
    <h1>Pose Detection Video Feed</h1>
    <div>
        <img id="video_feed" src="#" width="640" height="360">
    </div>

    <script>
        function updateVideoFeed() {
            var imgElement = document.getElementById('video_feed');
            imgElement.src = "/video_feed";
        }

        // Update the video feed every 100 milliseconds
        setInterval(updateVideoFeed, 100);
    </script>
</body>
</html>
